body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
/*menu*/
header {
    width: 100%;
    position: fixed;
    background: green;
    box-shadow: 0 4px 6px rgba(0,0,0,.2);
}
nav {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
}
.logo-box {
    float: left;
    margin-left: 25px;
}
.logo {
    margin: 0;
    height: 70px;
    text-align: center;
}
ul {
    margin: 0;
    margin-right: 25px;
    padding-left: 0;
    list-style: none;
    float: right;
    height: 70px;
    line-height: 70px;
    text-align:center;
}
a {
    text-decoration: none;
    display: inline-block;
    position: relative;
}
li a {
    color: black;
    text-transform: uppercase;
}
li {
    display: inline-block;
    margin-left: 25px;
    transition: .5s linear;
}
li a:after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 20px;
    background: black;
    transition: all 0.5s linear;
}
li a:hover:after{
    width: 100%;
}

@media screen and (max-width:574px) {
    .logo-box {
        float: none;
        margin: 0 auto;
    }
    ul {
        float: none;
        margin: 0 25px;
    }
    li:first-of-type {margin-left:0}
}

@media screen and (max-width:493px) {
    nav {
        overflow: visible
    }
    ul {
        height: auto;
        margin: 25px 25px 0 25px;
        line-height: 50px;
    }
    li {
        display: block;
        margin: 0;
    }
    li:hover {
        background: rgba(0,0,0,.1)
    }
    li a:after {
        content: none;
    }
}



/*section*/
p{
    margin: 0;
    font-size: 2rem;
    padding: 0 5rem;
    text-shadow: 1px 1px #333;
    color: #fff;
    text-align:	center;
}
section{
    width: auto;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.main-menu {
    width: 100%;
    height: 100px;
    background-color: #2980b9;
    padding: 0;
    margin: 0;
}

.main-menu li {
    display: inline-block;
    margin-right: -5px;
}

.main-menu a {
    background-color: #2980b9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:15px;
    padding-right: 15px;
    display: block;
    text-decoration: none;
    border-left: #2c3e50 solid 2px;
    color: #ffffff;

}
#hello_section {
    background-image: url('../images/bus.png ');
    background-color: gray;
    width: 100%;
    height:100%;
    align-items: flex-start;

}

#hello_section:before {
    content: "";
    position:absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

#schedule_section {
    background-color: white;
    display: flex;
}

#price_section {
    background-color:#eee;
    display: flex;
}
#form_section{
    background-image: url('../images/call-center.png');
    font-size: 20px;
    display: flex;
}
table {
    border-collapse: collapse;
    border: 3px solid gray;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightgray;

}

.schedule tr:hover {
    background-color: white;
}
.price tr:hover{
    background-color: white;
}
.ft{
    background-color: #46C746;
}

td {
    padding: 5px;
    padding-right: 30px;
    border: 2px solid gray;
}

th {
    padding: 10px;
    border: 2px solid gray;

}

caption {
    margin-bottom: 10px;
    font-size: 18px;
}

h2{
    color: yellow;
}


form input:focus {
    border-color: green;
}
.datacaption{
    font-size: 24px;
}
/*js validation*/
.callback__notification {
    display: none;
}

.callback__tel input {
    background-color: white;
}

.callback_invalid-tel .callback__notification {
    display: block;
}
.callback_invalid .callback__tel input {
    background-color: red;
}